---
layout: generic_collection_item
pagination: true
meta:
  - label: Filename
    value: page.filename
  - label: Download
    value: page.download_url
    type:  link
  - label: Type
    value: page.type
  - label: Version
    value: page.version
  - label: Map Created
    value: page.created
  - label: Map Updated
    value: page.updated
  - label: Author
    value: page.author
  - label: Modified By
    value: page.modified_by
  - label: Description
    value: page.description
    type:  multiline
---
